<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 

        <main>
            <% if (locals.errors) { %>
                <% for( let oneError in errors) { %>
                      <p><%= errors[oneError].msg %>   </p>
                      
              <% } %>
                 
                  <% } %>
        <div class="crea">Editando al usuario <%= locals.oldData ? oldData.name : user.name %></div>
        
        <form action="/users/edituser/<%= locals.oldData ? oldData.id : user.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="add-edit">              
                <div class="form-control">
                    <label for="">Nombre</label>
                    <input type="text" name="name" value=<%= locals.oldData ? oldData.name : user.name %>>
                    <% if (locals.errors && errors.name ) { %>
                        <div class="text-danger">
                          <p> <%= errors.name.msg %> </p>
                        </div>
                    <% } %>
                </div>
                </div>
                <div class="form-control">
                    <label for="">Apellido</label>
                    <input type="text" name="lastname" value=<%= locals.oldData ? oldData.lastname : user.lastname %>>
                    <% if (locals.errors && errors.lastname ) { %>
                        <div class="text-danger">
                          <p> <%= errors.lastname.msg %> </p>
                        </div>
                    <% } %>
                </div>

                <div class="form-control">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" name="dob" value=<%= locals.oldData ? oldData.dob : user.dob %>>
                </div>
                
                <div class="form-control">
                    <label for="image">Imagen de perfil</label>
                    <input type="file" name="avatar" accept=".png, .jpg, .jpeg" >
                    <% if (locals.errors && errors.avatar ) { %>
                        <div class="text-danger">
                          <p> <%= errors.avatar.msg %> </p>
                        </div>
                    <% } %> 
                </div>
                
                <div class="form-control">
                    <label for="">Contraseña</label>
                    <input type="password" name="password" placeholder="Debe contener 8 caracteres y un numero">
                    <% if (locals.errors && errors.password ) { %>
                        <div class="text-danger">
                          <p> <%= errors.password.msg %> </p>
                        </div>
                    <% } %>
                </div>

                <div class="form-control">
                    <label for="">Repetir Contraseña</label>
                    <input type="password" name="repassword">
                </div>

                <div class="buttons">
                <button type="submit" class="enviar">Guardar Cambios</button>
                
        </main>


        <%- include('partials/footer')  %> 
       
    </body>
    </html>